* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first-img {
  background: linear-gradient(140deg, #0891b2 50%, white 50%);
  height: 400px;
  position: relative;
  display: inline-block;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
}

.first-img > img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about > p {
  color: #565656;
}

.about > h1 {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icons > img {
  height: 30px;
}
